# Bangalore House Price Prediction - Supervised Regression Problem

## Data Preprocessing

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#  Load dataset

In [2]:
df_raw = pd.read_csv(r"PP bangalore house price prediction.csv")
df_raw.shape

(7120, 108)

In [3]:
df_raw.head(30)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,2.0,2.0,40.00,1170.0,2,3418.803419,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2.0,2.0,65.00,1425.0,3,4561.403509,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,2.0,2.0,43.00,947.0,2,4540.654699,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2.0,2.0,36.00,1130.0,2,3185.840708,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,2.0,2.0,76.00,1417.0,3,5363.443896,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,2.0,1.0,58.00,1230.0,2,4715.447154,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,3.0,2.0,75.00,1705.0,3,4398.826979,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,2.0,1.0,47.00,1116.0,2,4211.469534,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
13,2.0,2.0,40.00,991.0,2,4036.326942,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,1.0,1.0,27.00,550.0,1,4909.090909,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
15,2.0,2.0,70.00,1450.0,3,4827.586207,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,1.0,1.0,25.50,700.0,1,3642.857143,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,1.0,0.0,28.00,440.0,1,6363.636364,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1.0,0.0,25.25,510.0,1,4950.980392,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1.0,1.0,25.25,510.0,1,4950.980392,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2.0,0.0,480.00,2400.0,3,20000.000000,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
21,3.0,2.0,85.00,1540.0,3,5519.480519,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,1.0,0.0,45.00,600.0,1,7500.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,4.0,2.0,150.00,3150.0,4,4761.904762,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24,2.0,1.0,67.00,1250.0,2,5360.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25,4.0,1.0,428.00,2850.0,4,15017.543860,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,3.0,2.0,194.00,1630.0,3,11901.840491,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2.0,3.0,235.00,1875.0,3,12533.333333,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,2.0,0.0,130.00,1200.0,3,10833.333333,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2.0,2.0,148.00,1235.0,2,11983.805668,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_raw.tail(20)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
7100,2.0,0.000000,100.00,1362.0,2,7342.143906,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7101,1.0,1.000000,36.80,666.0,1,5525.525526,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7102,3.0,3.000000,140.00,1855.0,3,7547.169811,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7103,2.0,1.000000,85.00,1165.0,2,7296.137339,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7104,3.0,2.000000,145.00,1825.0,3,7945.205479,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7105,2.0,0.000000,54.67,994.0,1,5500.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7106,1.0,0.000000,40.00,650.0,1,6153.846154,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7107,3.0,3.000000,140.00,1855.0,3,7547.169811,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7108,3.0,1.000000,100.00,1500.0,3,6666.666667,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7109,1.0,1.000000,36.85,674.0,1,5467.359050,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7110,1.0,1.000000,36.85,672.0,1,5483.630952,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7111,3.0,3.000000,108.00,1692.0,3,6382.978723,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7112,5.0,2.000000,185.00,2500.0,6,7400.000000,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7113,3.0,3.000000,135.00,1855.0,3,7277.628032,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7114,6.0,1.584376,390.00,3800.0,6,10263.157895,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7115,3.0,2.000000,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.000000,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.000000,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.000000,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.000000,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## 3. Exploratory Data Analysis

In [5]:
df = df_raw.copy() # get the copy of raw data

In [6]:
# get the information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7120 entries, 0 to 7119
Columns: 108 entries, bath to location_Tumkur Road
dtypes: float64(5), int64(103)
memory usage: 5.9 MB

In [7]:
# We have only 3 neumerical features - bath, balcony and price
# 6 categorical features - area type, availability, size, society, and total_srft
# Target Feature =======>>>>>> price >>>>>>
# Price in lakh

In [8]:
df.describe()
#observe 75% and max value it shows huge diff

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
count,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,...,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000
mean,2.390871,1.572759,96.454991,1479.729806,2.465169,5923.806855,0.750702,0.182303,0.061938,0.792697,...,0.003090,0.003090,0.002949,0.002949,0.002949,0.002949,0.002809,0.002809,0.002809,0.002809
std,0.876822,0.770583,116.185034,913.779769,0.841520,2556.650935,0.432637,0.386121,0.241060,0.405403,...,0.055505,0.055505,0.054232,0.054232,0.054232,0.054232,0.052929,0.052929,0.052929,0.052929
min,1.000000,0.000000,10.000000,350.000000,1.000000,1250.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,49.230000,1100.000000,2.000000,4416.761042,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,2.000000,69.000000,1255.000000,2.000000,5417.855613,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,104.000000,1640.250000,3.000000,6618.285651,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,3.000000,2912.000000,30400.000000,9.000000,35000.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
sns.pairplot(df)

In [ ]:
df.head(10)

In [ ]:
df.columns

In [ ]:
df['availability'].value_counts()

In [ ]:
# value count of each feature
def value_count(df):
  for var in df.columns:
    print(df[var].value_counts())
    print("--------------------------------")

In [ ]:
value_count(df)

In [ ]:
# correlation heatmap
num_vars = ["bath", "balcony", "price"]
sns.heatmap(df[num_vars].corr(),cmap="coolwarm", annot=True)

# correlation of bath is greater than a balcony with price

# 4. Preare Data for Machine Learning Model

## Data cleaning

In [ ]:
df.isnull().sum() # find the homuch missing data available

In [ ]:
df.isnull().mean()*100 # % of measing value

#society has 41.3% missing value (need to drop)

In [ ]:
# visualize missing value using heatmap to get idea where is the value missing

plt.figure(figsize=(16,9))
sns.heatmap(df.isnull())

In [ ]:
# Drop ----------> society feature
# because 41.3% missing value
df2 = df.drop('society', axis='columns')
df2.shape

In [ ]:
# fill mean value in --------> balcony feature
# because it contain 4.5% missing value
df2['balcony'] = df2['balcony'].fillna(df2['balcony'].mean())
df2.isnull().sum()

In [ ]:
# drop na value rows from df2
# because there is very less % value missing
df3 = df2.dropna()
df3.shape

In [ ]:
df3.isnull().sum()

In [ ]:
df3.head()

## Feature Engineering

In [ ]:
# to show all th ecolumns and rows
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

### Converting 'total_sqft' cat feature in numeric

In [ ]:
df3['total_sqft'].value_counts()

# here we observe that 'total_sqft' contain string value in diff format
#float, int like value 1689.28,817 
# range value: 540 - 740 
# number and string: 142.84Sq. Meter, 117Sq. Yards, 1Grounds

# best strategy is to convert it into number by spliting it

In [ ]:
total_sqft_int = []
for str_val in df3['total_sqft']:
  try:
    total_sqft_int.append(float(str_val)) # if '123.4' like this value in str then conver in float
  except:
    try:
      temp = []
      temp = str_val.split('-')
      total_sqft_int.append((float(temp[0])+float(temp[-1]))/2) # '123 - 534' this str value split and take mean
    except:
      total_sqft_int.append(np.nan) # if value not contain in above format then consider as nan

In [ ]:
# reset the index of dataframe
df4 = df3.reset_index(drop=True) # drop=True - don't add index column in df

In [ ]:
# join df4 and total_srft_int list
df5 = df4.join(pd.DataFrame({'total_sqft_int':total_sqft_int}))
df5.head()

In [ ]:
df5.tail()

In [ ]:
df5.isnull().sum()

In [ ]:
# drop na value
df6 = df5.dropna()
df6.shape

In [ ]:
df6.info()

## Working on <<<< Size >>>> feature

In [ ]:
df6['size'].value_counts()

# size feature shows the number of rooms

In [ ]:
"""
in  size feature we assume that 
2 BHK = 2 Bedroom == 2 RK
so takes only number and remove sufix text
"""
size_int = []
for str_val in df6['size']:
  temp=[]
  temp = str_val.split(" ")
  try:
    size_int.append(int(temp[0]))
  except:
    size_int.append(np.nan)
    print("Noice = ",str_val)

In [ ]:
df6 = df6.reset_index(drop=True)

In [ ]:
# join df6 and list size_int
df7 = df6.join(pd.DataFrame({'bhk':size_int}))
df7.shape

In [ ]:
df7.tail()

## Finding Outlier and Removing

In [ ]:
# function to create histogram, Q-Q plot and boxplot

# for Q-Q plots
import scipy.stats as stats

def diagnostic_plots(df, variable):
    # function takes a dataframe (df) and
    # the variable of interest as arguments

    # define figure size
    plt.figure(figsize=(16, 4))

    # histogram
    plt.subplot(1, 3, 1)
    sns.distplot(df[variable], bins=30)
    plt.title('Histogram')

    # Q-Q plot
    plt.subplot(1, 3, 2)
    stats.probplot(df[variable], dist="norm", plot=plt)
    plt.ylabel('Variable quantiles')

    # boxplot
    plt.subplot(1, 3, 3)
    sns.boxplot(y=df[variable])
    plt.title('Boxplot')

    plt.show()

In [ ]:
num_var = ["bath","balcony","total_sqft_int","bhk","price"]
for var in num_var:
  print("******* {} *******".format(var))
  diagnostic_plots(df7, var)

  # here we observe outlier using histogram,, qq plot and boxplot

In [ ]:
# here we consider  1 BHK requierd min 350 sqft are
df7[df7['total_sqft_int']/df7['bhk'] < 350].head()

# no we found outliers

In [ ]:
# if 1 BHK total_sqft are < 350 then we ae going to remove them
df8 = df7[~(df7['total_sqft_int']/df7['bhk'] < 350)]
df8.shape

In [ ]:
# create new feature that is price per squre foot 
# it help to find the outliers

#price in lakh so conver into rupee and then / by total_sqft_int
df8['price_per_sqft'] = df8['price']*100000 / df8['total_sqft_int']  
df8.head()

In [ ]:
df8.price_per_sqft.describe()

#here we can see huge difference between min and max price_per_sqft
# min 6308.502826 max 176470.588235

In [ ]:
# Removing outliers using help of 'price per sqrt'  taking std and mean per location
def remove_pps_outliers(df):
  df_out = pd.DataFrame()
  for key, subdf in df.groupby('location'):
    m=np.mean(subdf.price_per_sqft)
    st=np.std(subdf.price_per_sqft)
    reduced_df = subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
    df_out = pd.concat([df_out, reduced_df], ignore_index = True)
  return df_out

df9 = remove_pps_outliers(df8)
df9.shape

In [ ]:
def plot_scatter_chart(df,location):
  bhk2 = df[(df.location==location) & (df.bhk==2)]
  bhk3 = df[(df.location==location) & (df.bhk==3)]
  plt.figure(figsize=(16,9))
  plt.scatter(bhk2.total_sqft_int, bhk2.price, color='Blue', label='2 BHK', s=50)
  plt.scatter(bhk3.total_sqft_int, bhk3.price, color='Red', label='3 BHK', s=50, marker="+")
  plt.xlabel("Total Square Feet Area")
  plt.ylabel("Price")
  plt.title(location)
  plt.legend()

plot_scatter_chart(df9, "Rajaji Nagar")

# in below scatterplot we observe that at same location price of
# 2 bhk house is greater than 3 bhk so it is outlier

In [ ]:
plot_scatter_chart(df9, "Hebbal")
# in below scatterplot we observe that at same location price of
# 3 bhk house is less than 2 bhk so it is outlier

In [ ]:
# Removing BHK outliers
def remove_bhk_outliers(df):
  exclude_indices = np.array([])
  for location, location_df in df.groupby('location'):
    bhk_stats = {}
    for bhk, bhk_df in location_df.groupby('bhk'):
      bhk_stats[bhk]={
          'mean':np.mean(bhk_df.price_per_sqft),
          'std':np.std(bhk_df.price_per_sqft),
          'count':bhk_df.shape[0]}
    for bhk, bhk_df in location_df.groupby('bhk'):
      stats=bhk_stats.get(bhk-1)
      if stats and stats['count']>5:
        exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
  return df.drop(exclude_indices, axis='index')

df10 = remove_bhk_outliers(df9)
df10.shape

In [ ]:
plot_scatter_chart(df10, "Hebbal")
# In below scatter plot most of the red data point remove fron blue points

### Remove outliers using the help of 'bath' feature

In [ ]:
df10.bath.unique()

In [ ]:
df10[df10.bath > df10.bhk+2]

In [ ]:
# here we are considering data only total no. bathroom =  bhk + 1
df11 = df10[df10.bath < df10.bhk+2]
df11.shape

In [ ]:
plt.figure(figsize=(16,9))
for i,var in enumerate(num_var):
  plt.subplot(3,2,i+1)
  sns.boxplot(df11[var])

In [ ]:
df11.head()

In [ ]:
df12 = df11.drop(['area_type', 'availability',"location","size","total_sqft"], axis =1)
df12.head()

In [ ]:
df12.to_csv("clean_data.csv", index=False) # test ml model on this data
# ML model train on this data and got best score >>>> XGBoost=0.914710

# Categorical Variable Encoding

In [ ]:
df13 = df11.drop(["size","total_sqft"], axis =1)
df13.head()

In [ ]:
df14 = pd.get_dummies(df13, drop_first=True, columns=['area_type','availability','location'])
df14.shape

In [ ]:
df14.head()

In [ ]:
df14.to_csv('oh_encoded_data.csv', index=False) # test ml model on this data

## Working on <<<<<< area_type >>>>> feature

In [ ]:
df13['area_type'].value_counts()

In [ ]:
df15 = df13.copy()
# appy Ohe-Hot  encoding on 'area_type' feature
for cat_var in ["Super built-up  Area","Built-up  Area","Plot  Area"]:
  df15["area_type"+cat_var] = np.where(df15['area_type']==cat_var, 1,0)
df15.shape

In [ ]:
df15.head(2)

## Working with <<<<< availability >>>>> Feature

In [ ]:
df15["availability"].value_counts()

In [ ]:
# in availability feature, 10525 house 'Ready to Move" and remaining will be redy on perticuler date
# so we crate new feature ""availability_Ready To Move"" and add vale 1 if availability is Ready To Move else 0
df15["availability_Ready To Move"] = np.where(df15["availability"]=="Ready To Move",1,0)
df15.shape

In [ ]:
df15.tail()

## Working on <<<< Location >>>> feature

In [ ]:
location_value_count = df15['location'].value_counts()
location_value_count

In [ ]:
location_gert_20 = location_value_count[location_value_count>=20].index
location_gert_20

In [ ]:
# location count is greter than 19 then we create column of that feature 
# then if this location present in location feature then set value 1 else 0 ( ohe hot encoding)
df16 = df15.copy()
for cat_var in location_gert_20:
  df16['location_'+cat_var]=np.where(df16['location']==cat_var, 1,0)
df16.shape

In [ ]:
df16.head()

## Drop categorical variable

In [ ]:
df17 = df16.drop(["area_type","availability",'location'], axis =1)
df17.shape

In [ ]:
df17.head()

In [ ]:
df17.to_csv('ohe_data_reduce_cat_class.csv', index=False)